:local .consoleWrapper {
	margin-top: 20px;
	height: calc(30% - 24px);
}

:local .consoleWrapperTeacher {
	margin-top: 20px;
	height: 30%;
}
	:local .console {
		width: 100%;
		height: calc(100% - 34px);
		border: 1px solid #e5e5e5;
		background: white;
	}
