:local .mainSidebar {
	position: relative;
	background-color: #ecf0f1;
	float: left;
	width: 350px;
	height: calc(100vh - 50px);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
	:local .mainSidebar h2 {
		text-align: center;
	}

	:local .mainSidebar .hamburger {
		position: absolute;
		top: 5px;
		right: 10px;
		font-size: 1.5rem;
	}
		:local .mainSidebar .hamburger:hover {
			opacity: .8;
		}
	:local .mainSidebar .partList {
		margin-top: 20px;
		height: 50vh;
	}

		:local .mainSidebar .partList li,
		:local .mainSidebar .referenceList li {
			margin: 5px 0 0 40px;
			font-size: 1.2rem;
		}
			:local .mainSidebar .partList li a,
			:local .mainSidebar .referenceList li a {
				margin-left: 5px;
			}
			:local .mainSidebar .partList li.active a {
				font-weight: bold;
			}

	:local .mainSidebar .referenceList {
		margin-top: 20px;
	}
		:local .mainSidebar .referenceList li {
			/*font-size: 1rem;*/
		}