:local .mainSidebar {
	transition: margin-left 0.5s ease-out;
	position: relative;
	background-color: #ecf0f1;
	float: left;
	width: 350px;
	height: calc(100vh - 50px);
	/*box-shadow: 0 0 5px rgba(0, 0, 0, .4);*/
	border-right: 1px solid #e5e5e5;
}

	:local .mainSidebar .content {
		width: 90%;
		display: inline-block;
	}

	:local .mainSidebar h2 {
		text-align: center;
	}

	:local .mainSidebar .hamburger {
		/*position: relative;*/
		vertical-align: top;
		display: inline-block;
		width: 10%;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 1.5rem;
		height: 100%;
		/*color: rgb(24, 188, 156, 1);*/
		color: rgba(0, 0, 0, .2);
		/*border-left: 1px solid rgba(0,0,0,0.1);*/
		/*/*box-shadow: inset 2px 0 5px rgba(0, 0, 0, .05), 0 0 0 white, 0 0 0 white, 0 0 0 white;*/*/
		
		background: -moz-linear-gradient(left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .02) 80%);
		background: -webkit-linear-gradient(left, rgba(0, 0, 0, .0) 0%,rgba(0, 0, 0, .02) 80%);
		background: linear-gradient(to right, rgba(0, 0, 0, .0) 0%,rgba(0, 0, 0, .02) 80%);
	}
		:local .mainSidebar .hamburger:hover {
			color: #18bc9c;
			background: -moz-linear-gradient(left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .04) 80%);
			background: -webkit-linear-gradient(left, rgba(0, 0, 0, .0) 0%,rgba(0, 0, 0, .04) 80%);
			background: linear-gradient(to right, rgba(0, 0, 0, .0) 0%,rgba(0, 0, 0, .04) 80%);
		}

		:local .mainSidebar .hamburger span {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			margin: 0 auto;
		}

		:local .mainSidebar .partList {
			margin-top: 20px;
			height: 50vh;
		}

		:local .mainSidebar .partList li,
		:local .mainSidebar .referenceList li {
			margin: 5px 0 0 40px;
			font-size: 1.2rem;
		}
			:local .mainSidebar .partList li a,
			:local .mainSidebar .referenceList li a {
				margin-left: 5px;
			}
			:local .mainSidebar .partList li.active a {
				font-weight: bold;
			}

	:local .mainSidebar .referenceList {
		margin-top: 20px;
	}
		:local .mainSidebar .referenceList li {
			/*font-size: 1rem;*/
		}